<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css} " />
    <script src="https://kit.fontawesome.com/8ffdf3c5cd.js" crossorigin="anonymous"></script>
    <title>Home Page</title>
</head>

<body>

    <div class="container">
        <div class="column pt-5">
            <div class="col-xl-6">
                <div class="row mx-auto pb-3" style="max-width: 150px;">
                    <a href="/add-todo" class="btn btn-success">Add a todo</a>
                </div>
            </div>
            <div class="col-xl-6" th:each="category: ${categories}" th:object="${category}">
                <div class="card">
                    <!-- <span th:each="category : ${categories}" th:value="${category.category_id}"
                        th:utext="${category.title}" /> -->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${category.title}">card_title</h5>
                    </div>
                    <!-- <ul class="list-group list-group-flush">
                        <li th:each="item : ${category.toDoList}" th:text="${item.description}" class="list-group-item">
                            item_description</li>
                    </ul> -->
                    <div class="list-group list-group-flush d-flex justify-content-center">
                        <div class="list-group-item" th:each="item : ${category.toDoList}">
                            <div class="d-flex flex-row justify-content-between">
                                <div>
                                    <div th:text="${item.description}"></div>
                                    <small th:text="${#temporals.format(item.createdDate, 'dd-MM-yyyy HH:mm')}"></small>
                                </div>
                                <div class="btn btn-group-sm" role="group">
                                    <a th:href="@{/edit/{id}(id=${item.id})}"><i class="fa-solid fa-pen-to-square fa-lg fa-fw"></i></a>
                                    <a th:href="@{/delete/{id}(id=${item.id})}"><i class="fa-solid fa-trash fa-lg fa-fw"></i></a>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>


    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>

</html>
