<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css} " />
    <title>Update page</title>
</head>
<body>
    <div class="container">
        <div class="col-md-6">
            <form action="#" th:object="${todo}" th:action="@{/todo/{id}(id=${todo.id})}" method="post">
                <div class="form-group">
                    <label for="description" class="mb-2">Description</label>
                    <!-- *{field} binds form field to model -->
                    <input type="text" class="form-control" th:field="*{description}" id="description" placeholder="Add a description">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" th:checked="${complete} == true" th:field="*{complete}" id="complete" />
                            Complete
                        </label>
                    </div>
                    <br>
                    <label for="category_id" class="mb-2">Category</label>
                    <select class="form-control" id="category_id" th:field="*{category.id}">
                        <option th:each="category : ${categories}" th:value="${category.category_id}" th:utext="${category.title}"/>
                    </select>
                    <br>
                    <button class="btn btn-dark" type="submit">Update</button>
    
                    <input type="hidden" th:field="*{createdDate}" />
                    <input type="hidden" th:field="*{modifiedDate}" />
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>
